<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrepAI</title>
    <link rel="stylesheet" href="/static/style.css" />

    <!-- Spline viewer module -->
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.9.98/build/spline-viewer.js"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">PrepAI</div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/pre">Preprocess</a></li>
        <li><a href="/eda">PlayML</a></li>
        <li><a href="/dash">Dashboard</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </nav>
    <section class="hero">
      <div class="spline-container">
        <spline-viewer
          url="https://prod.spline.design/riFtsAssLg8fXVFl/scene.splinecode"
        ></spline-viewer>
      </div>
    </section>
  </body>
</html>
